<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>@ViewBag.Title -Sistema de Inventario</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/custom.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Proyecto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre mi", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Iniciar Sesion", "Login", "Usuario")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu Crud Tablas <span class="glyphicon glyphicon-folder-open"></span></a>
                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD Usuario", "Index", "usuario")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD Roles", "Index", "Roles")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD UsuarioRol", "Index", "UsuarioRol")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD Cliente", "Index", "Cliente")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD Compra", "Index", "Compra")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD Proveedor", "Index", "Proveedor")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD Producto", "Index", "Producto")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD ProductoCompra", "Index", "ProductoCompra")</a>
                                <br />
                                <a class="dropdown-item" href="#">@Html.ActionLink("CRUD ProductoImagen", "Index", "ProductoImagen")</a>

                            </div>
                             
                        </li>

                        <li>@Html.ActionLink("Salir", "CloseSession", "Usuario")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Glasfira Maria Cortecero - gmcortecero@misena.edu.co</p>
            <p>&copy; @DateTime.Now.Year - Yesid Rene Betin - yrbetin@misena.edu.co</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

<img src="https://eva3d.com/blog/wp-content/uploads/2016/07/digital-marketing-inmobiliario-herramientas-de-ventas-1024x357.png" alt="Alternate Text" />
